[Unit]
Description=Warsow Server
After=network.target

[Service]
User=warsow
Group=warsow
ExecStart=/usr/bin/wsw-server
WorkingDirectory=/var/lib/warsow

Restart=on-failure

[Install]
WantedBy=multi-user.target
