[Unit]
Description=Warsow Server
After=network.target

[Service]
User=warsow
Group=warsow
ExecStart=/opt/warsow/wsw_server
WorkingDirectory=/var/lib/warsow

Restart=on-failure
PrivateTmp=false

[Install]
WantedBy=multi-user.target
